<div class='progress-msg'>Fri, 20 Nov 2020 02:30:07 +0000</div>
<div class='progress-msg'>[02:30:07] Composing titles...</div>
<div class='progress-msg'>[02:30:07] Composing excerpts...</div>
<div class='progress-msg'>[02:30:07] Composing duplicate indicators...</div>
<div class='progress-msg'>[02:30:07] Composing authors...</div>
<div class='progress-msg'>[02:30:07] Composing slugs...</div>
<div class='progress-msg'>[02:30:07] Composing menu order...</div>
<div class='progress-msg'>[02:30:07] Composing contents...</div>
<div class='progress-msg'>[02:30:07] Composing dates...</div>
<div class='progress-msg'>[02:30:07] Composing terms for `Manufacturer` taxonomy...</div>
<div class='progress-msg'>[02:30:07] Composing terms for `Model` taxonomy...</div>
<div class='progress-msg'>[02:30:07] Composing terms for `Body Type` taxonomy...</div>
<div class='progress-msg'>[02:30:07] Composing terms for `Product categories` taxonomy...</div>
<div class='progress-msg'>[02:30:07] Composing terms for `Product tags` taxonomy...</div>
<div class='progress-msg'>[02:30:07] Composing custom parameters...</div>
<div class='progress-msg'>[02:30:07] Composing URLs for images...</div>
<div class='progress-msg'>[02:30:07] Composing URLs for attachments files...</div>
<div class='progress-msg'>[02:30:07] Composing post comments...</div>
<div class='progress-msg'>[02:30:07] Composing unique keys...</div>
<div class='progress-msg'>[02:30:07] Processing posts...</div>
<div class='progress-msg'>[02:30:07] Data parsing via add-ons...</div>
<div class='progress-msg'>[02:30:07] Composing product data...</div>
<div class='progress-msg'>[02:30:07] Composing advanced custom fields...</div>
<div class='progress-msg'>[02:30:07] ---</div>
<div class='progress-msg'>[02:30:07] Record #1</div>
<div class='progress-msg'>[02:30:07] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[02:30:07] Combine all data for post `Nova PRIDE PLATINUM 2016`...</div>
<div class='progress-msg'>[02:30:07] Find corresponding article among previously imported for post `Nova PRIDE PLATINUM 2016`...</div>
<div class='progress-msg'>[02:30:07] Duplicate post was found for post Nova PRIDE PLATINUM 2016 with unique key `Nova PRIDE PLATINUM 2016 - `...</div>
<div class='progress-msg'>[02:30:07] <b>SKIPPED</b>: Record data unchanged for `Nova PRIDE PLATINUM 2016`</div>
