/** Common sass **/

html,body{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	
}

.wrapper {
	// overflow-x:hidden;
}

/*.wrapper {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:stretch;
	height:100%;
	overflow-x:hidden;

	.site-content {
		flex:1;
	}
}*/

.header-modal{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    .close{
                        border: 0;
                        background: transparent;
                        padding: 0;
                        span{
                            font-size: 40px;
                            color: #fff;
                        }
                    }
                }

                .modal-body{
                    background:#fff;
                    padding: 20px 40px;
                    @media screen and (max-width: $screen-md-max) {
			           padding: 0px;
			        }

                    .main-enquiry{
                    	text-align: center;
                    	padding: 40px 20px;
                    }
                }
            }
        }
    }

// Create grow and shrink flex column classes for each breakpoint
@each $breakpoint, $value in $grid-breakpoints {

	.col-#{$breakpoint}-grow {
		@include media-breakpoint-up(#{$breakpoint}) {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: initial;
			width: auto;
		}
	}

	.col-#{$breakpoint}-shrink {
		@include media-breakpoint-up(#{$breakpoint}) {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: auto;
			width: auto;
		}
	}
}
.pad-0{
	padding:0px;
}

.hide{
	display:none;
}

//Error page

.error-wrap{
	padding:250px 0px 100px;
	@media screen and (max-width: $screen-sm-max){
          padding:70px 0px 50px;
    }
}
// Edn of Error page

.top-header{
   // background:url('../../images/lifestyle_02.jpg') no-repeat center/cover;
   // background-position: bottom; /* Center the image */
  	//background-repeat: no-repeat; /* Do not repeat the image */
  	//background-size: cover; /* Resize the background image to cover the entire container */
    height: 350px;
    width: 100%;
    //height: 100%;
    &--image{
        width: 100%;
        max-height: 750px;
        height: 100%;
    }
    @media screen and (max-width: $screen-md-max){
         height: 450px;
    }
    @media screen and (max-width: $screen-sm-max){
         height: 300px;
    }
}




.fadein{
	opacity: 0;
	transform: translate3d(0,80px,0);
	transition: all 700ms ease;
	
	&.in{
		opacity: 1;
		transform:translate3d(0,0,0);
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.clearfix:after {
	content:'';
	display:table;
	clear:both;
}

:hover,
:focus,
:active {
	outline: none !important;
}

input,
textarea,
select,
label{
	font-family:inherit;
}

a,
button,
input {
	outline: none;
}

img{
	max-width:100%;
	height:auto;
}

table {
	width:100%;

	td,
	th {
		vertical-align:top;
	}
}

hr {
	margin: $grid-gutter-width/2 auto;
	border:none;
	text-align:center;

	&:after {
		content:'';
		display:block;
		height:1px;
		background:black; // TODO
	}
}

h1,
.h1 {

	font-family: $avenirbold;
	letter-spacing: 0px;
	color:$primary;
	margin-bottom:1.5rem;
}

h2,
.h2 {
	font-family: $avenirmedium;
	letter-spacing: 0px;
	color:$primary;
}

h3,
.h3 {
	//font-family: $avenirmediumitalic;
	font-family: $avenirmedium;
	letter-spacing: 0px;
	color:$primary;
}

h4,
.h4 {
	font-family: $avenirmedium;
	letter-spacing: 0px;
	color:$bodywhite;
}

h5,
.h5 {
	font-family: $avenirmedium;
	letter-spacing: 0px;
	color:$primary;
}

h6,
.h6 {
	font-family: $avenirmedium;
	letter-spacing: 0px;
	color:$primary;
}

p {
	//margin:0px;
	font-family: $avenirlight;
	letter-spacing: 0px;

}

ul,
ol {
	margin:0px;
	padding:0px 0px 0px $grid-gutter-width/2;

	li {
		margin:0px;
		padding:0px 0px 0px $grid-gutter-width/3;
		font-family: $avenirlight;
		letter-spacing: 0px;
	}
}

a {
	img,
	div,
	*:after,
	*:before {
		text-decoration:none;
	}
}

img.alignleft {
	float:left;
}
img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.alignright {
	float:right;
}
@media screen and (max-width:$screen-xs-max) {
	img.alignleft,
	img.aligncenter,
	img.alignright {
		display:block;
		float:none !important;
		margin-left:auto !important;
		margin-right:auto !important;
	}
}

.valign {
	display:block;
	vertical-align:middle;
	white-space:nowrap;

	> * {
		display:inline-block;
		vertical-align:middle;
		white-space:normal;
	}

	&:after {
		content:'';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		pointer-events:none;
	}
}

.flex-valign {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}

.flex-stretch {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:stretch;
}

.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}

.no-click {
	pointer-events:none;
}

.hidden-desktop {
	@include media-breakpoint-up(md) {
		display:none !important;
	}
}

.hidden-mobile {
	@include media-breakpoint-down(sm) {
		display:none !important;
	}
}

[data-toggle='collapse'] {
	&.collapsed .collapsed__hidden,
	&:not(.collapsed) .collapsed__visible {
		display:none;
	}
}

[data-toggle='class'] {
	&.classed .classed__hidden,
	&:not(.classed) .classed__visible {
		display:none;
	}
}