@font-face {
	font-family:'AvenirLight';
	font-weight:normal;
	font-style:normal;
	src:url('../../fonts/AvenirLight.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/AvenirLight.otf') format('opentype'),
		url('../../fonts/AvenirLight.woff') format('woff'),
		url('../../fonts/AvenirLight.ttf')  format('truetype'),
		url('../../fonts/AvenirLight.svg#AvenirLight') format('svg');
}

@font-face {
	font-family:'AvenirBold';
	font-weight:normal;
	font-style:normal;
	src:url('../../fonts/AvenirBold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/AvenirBold.otf') format('opentype'),
		url('../../fonts/AvenirBold.woff') format('woff'),
		url('../../fonts/AvenirBold.ttf')  format('truetype'),
		url('../../fonts/AvenirBold.svg#AvenirBold') format('svg');
}
@font-face {
	font-family:'AvenirMedium';
	font-weight:normal;
	font-style:normal;
	src:url('../../fonts/AvenirMedium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/AvenirMedium.otf') format('opentype'),
		url('../../fonts/AvenirMedium.woff') format('woff'),
		url('../../fonts/AvenirMedium.ttf')  format('truetype'),
		url('../../fonts/AvenirMedium.svg#AvenirMedium') format('svg');
}
@font-face {
	font-family:'AvenirMediumItalic';
	font-weight:normal;
	font-style:normal;
	src:url('../../fonts/AvenirMediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/AvenirMediumItalic.otf') format('opentype'),
		url('../../fonts/AvenirMediumItalic.woff') format('woff'),
		url('../../fonts/AvenirMediumItalic.ttf')  format('truetype'),
		url('../../fonts/AvenirMediumItalic.svg#AvenirMedium') format('svg');
}
@font-face {
	font-family:'AvenirBold';
	font-weight:normal;
	font-style:normal;
	src:url('../../fonts/AvenirBold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/AvenirBold.otf') format('opentype'),
		url('../../fonts/AvenirBold.woff') format('woff'),
		url('../../fonts/AvenirBold.ttf')  format('truetype'),
		url('../../fonts/AvenirBold.svg#AvenirBold') format('svg');
}