.site-footer {
	&__footer {
		padding: 40px 20px 60px;
		background: #000;
		color: $bodywhite;
		@media screen and (max-width: $screen-sm-max){
			padding: 30px 20px 40px;
		}
		&--menuitems {
			.menu-title {
				border-bottom: 3px solid #fff;
				margin: 30px 0 30px 0;
				max-width: 250px;
				width: 100%;
				h4 {
					line-height: 30px;
				}
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					padding: 0;
					a {
						color: $bodywhite;
						text-decoration: none;
						line-height: 25px;
					}
				}
			}
			.logo {
				margin: 30px 0 30px 0;	
				text-align: right;
				@media screen and (max-width: $screen-xs-max){
					text-align: left;
					margin: 35px 0 0px 0;	
				}
			}
		}
		&--bottom {
			padding-top: 30px;
			.subscribe-title {
				h5 {
					color: red;
					font-weight: bold;
				}
			}
			.ninja-forms-req-symbol {
				display: none;
			}
			.nf-error.field-wrap .nf-field-element:after {
				height: 36px !important;  
				line-height: 40px !important; 
			}
			.left-panel {
				max-width: 500px;
				&__title {
					h5 {
						color: #fff;
						font-weight: bold;
					}
				}
				.nf-multi-cell .nf-cell {
					padding: 0 0 0 0;
				}
				.nf-field-label {
					display: none;
				}
				.nf-field-element {
					text-align: center;
					input {
						border-radius: 0 !important;
					}
				}
				#nf-field-10 {
					padding: 3px;
				}
			}
			.right-panel{
				.visitors-counter{
					.tvcp-container{
						margin: 0px !important;
						//padding: 0 !important;
						font-family:$avenir;
						font-size: 1rem;
						background: #fff !important;
						.tvcp-title{
								color: #000!important;
						}
						.tvcp-size-of{
							span{
								font-size: 1em !important;
							}
						}
					}
				}
				@media screen and (max-width: $screen-sm-max){
					margin: 30px 0px;
				}
			}
			.social{
				text-align: right;
				.fab {
					color: #fff !important;
					margin: 0 5px;
				}
				@media screen and (max-width: $screen-sm-max){
					text-align: left;
					margin-bottom: 25px;
				}
			}
		}
		&--copyright {
			.wrap{
				.wrap-copy{
					font-family:$avenir;
					font-size: 15px;
				}
			}
		}
	}
}
.nf-form-content{
	padding:0px !important;
}
.terms-modal{
	background: #fff;
	padding: 50px;
}