.btn {
    //transition: border 300ms ease, background 300ms ease, color 300ms ease;

    display: inline-block;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    font-family: $avenirbold;
    border: 1px solid #000;
    border-radius: 0;
    background-color: #000;
    //letter-spacing: 1px;
    transition: 450ms ease-in-out;
    text-transform: uppercase;
    &:hover{
            background-color: #fff;
            //border: 1px solid #000;
            color:#000;
             //padding: 9px 14px;
    }
    &:focus{
        //border:0px;
        box-shadow:none;
        //background-color: #fff !important;

    }
}
.btn-white {
    //transition: border 300ms ease, background 300ms ease, color 300ms ease;
    text-decoration: none !important;
    display: inline-block;
    margin:10px;
    color: #000;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    font-family: $avenirbold;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #fff;
    //letter-spacing: 1px;
    transition: 450ms ease-in-out;
    text-transform: uppercase;
    &:hover{
            background-color: #eee;
            border: 1px solid #fff;
            color:#000;
             //padding: 9px 14px;
    }
    &:focus{
        //border:0px;
        box-shadow:none;
         color:#000;
        background-color: #eee !important;
    }
}

.form-control {
    &::placeholder {
        opacity: 1 !important;
    }
}

%radio {
    position: relative;
    padding: 0px 0px 0px 35px !important;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        &:before {
            content: '';
            display: block;
            position: relative;
            float: left;
            top: 4px;
            width: 20px;
            height: 20px;
            margin: 0px 0px 0px -35px;
            background: white;
            border: 5px solid white;
            border-radius: 20px;
            line-height: 1;
        }

        &--active {
            &:before {
                background: black;
            }
        }

        &--focussed {
            &:before {
                border-color: $secondary;
            }
        }
    }
}

%checkbox {
    position: relative;
    margin: 0px;
    padding: 0px 0px 0px 35px !important;

    &__input {
        position: absolute;
        opacity: 0;
    }

    &__label {
        &:before {
            content: '';
            display: block;
            position: relative;
            float: left;
            top: 0px;
            width: 20px;
            height: 20px;
            margin: 0px 0px 0px -35px;
            background: white;
            border: 5px solid white;
            line-height: 1;
        }

        &--active {
            &:before {
                background: black;
            }
        }

        &--focussed {
            &:before {
                border-color: $secondary;
            }
        }
    }
}


// General form styling

 .contact-form {
        -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        .nf-field-label {
            display: none;
        }
        .custom-select {
            background-color: #eaeaea !important;
            border: 1px solid transparent !important;
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            //border-radius: 0.25rem;
            border-radius: 0px !important;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        background-color: #fff;
        padding: 53px 60px;
        background: #fff;
        //border-radius: 5px;
        .contact-copy {
            // text-align: center;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        .nf-field-element {
            text-align: center;
            ul {
                text-align: left;
            }
            }
        }
     .nf-form-cont .nf-field-element input{
        border-radius: 0px !important;
     }
     .nf-form-cont .textarea-container .nf-field-element textarea{
         border-radius: 0px !important;
     }
     .nf-form-content .label-above .nf-field-label{
        display:none !important;
     }
        .nf-error.field-wrap .nf-field-element:after {
            height: 36px !important;
            line-height: 40px !important;
        }
        .nf-field-description {
            color: #495057;
            height: calc(2.25rem + 2px);
            font-size: 18px;
            line-height: 20px;
            font-weight: 700;
        }
        .list-radio-wrap {
            padding: 0.375rem 0.75rem;
            border: 1px solid #ced4da;
            //border-radius: 0.25rem;
    }

