.site-header {
	//position:static;
	position:fixed;
	z-index: 999;
	width: 100%;
	background: rgba(0,0,0,0.6);
	@media screen and (max-width: $screen-sm-max){
		background: rgba(0,0,0,0.6);
	}
	.top-menu{
		display: flex;
		flex-wrap: nowrap;
		padding: 15px 10px;
		width: 100%;
		//background: rgba(0,0,0,0.3);
		.left-top{
			width: 50%;
			.logo{
				width:155px;
			}

			 @media screen and (max-width: $screen-sm-max){
              .logo{
					width:120px;
				}
            }
		}
		.right-top{
			width: 50%;
			text-align: right;
			p{
				margin-top: 5px;
				margin-bottom: 0px;
				color: #fff;
				@media screen and (max-width: $screen-sm-max){
					margin-top: 5px;
					font-size: 14px;
					line-height: 15px;
				}
			}
			a{
				color: #fff;
				@media screen and (max-width: $screen-sm-max){
					font-size: 14px;
					line-height: 15px;
				}
			}
		}
		@media screen and (max-width: $screen-sm-max){
			padding: 10px 0px;
		}
	}
	.main-menu{
			@media screen and (max-width: $screen-sm-max){
			margin: 0px -15px !important;
		}
	}
	.side-button-wrap{
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		position: fixed;
		z-index: 9999;
		top: 40%;
		right: -91px;
		a{
			padding: 10px 20px;
			letter-spacing: 3px;
		}
	}
	
}


.home{
	.site-header {
		position:fixed;
		background: rgba(0,0,0,0.5);
		@media screen and (max-width: $screen-sm-max){
			background: rgba(0,0,0,0.7);
		}
		.side-button-wrap{
			//display:none;
		}
	}
}
.page-template-contact{
	.side-button-wrap{
			display:none;
		}
}
.single-range{
	.side-button-wrap{
			display:none;
		}
}



// SPECIAL CASE FOR WHEN WP ADMIN BAR IS VISIBLE AND HEADER IS FIXED
/*body.admin-bar {
	header {
		top:32px;

		@media screen and (max-width:782px) {
			top:46px;
		}

		@media screen and (max-width:$screen-xs-max) {
			top:0px;
		}
	}
}*/