.typography {
	h1,h2,h3{
		margin:15px 0px 30px;

		@media screen and (max-width:$screen-xs-max) {
			margin:10px 0px 20px;
		}
	}

	h4,h5,h6{
		margin:10px 0px 20px;

		@media screen and (max-width:$screen-xs-max) {
			margin:10px 0px;
		}
	}

	p,ul,ol {
		margin:15px 0px 25px;
	}

	img,
	.wp-gallery,
	.wp-caption {
		margin:30px 0px;

		&.alignleft {
			margin-top:0px;
			margin-right:30px;
		}

		&.alignright {
			margin-top:0px;
			margin-left:30px;
		}

		&.aligncenter {
			margin-left:auto;
			margin-right:auto;
		}
	}

	.wp-gallery,
	.wp-caption {
		img {
			margin:0px;
		}
	}

	a {
		&.button {
			@extend .btn;
			@extend .btn-primary;
		}
	}
	.table-wrap {
		-webkit-overflow-scrolling:touch;
		overflow-x:auto;
		overflow-y:visible;
	}

	.oembed {
		@extend .embed-responsive;
		@extend .embed-responsive-16by9;
	}

	> :first-child {
		margin-top:0px;
	}

	> :last-child {
		margin-bottom:0px;
	}
}