/* SASS Vars */

$avenirlight: 'AvenirLight';
$avenirbold: 'AvenirBold';
$avenirmedium: 'AvenirMedium';
$avenirmediumitalic: 'AvenirMediumItalic';
$avenirbold: 'AvenirBold';
$avenir: 'Avenir';

$bodywhite: #ffffff;
$bodyblack: #000000;