
.about-responsive {

    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }

    &__top{
        padding: 150px 20px;
        text-align: center;
        &--copy{
            max-width: 1050px;
        width: 100%;
        margin: 0 auto;

            .thelist{

                margin-top: 50px;
                ul{
                    li{
                        list-style: none;
                    }
                } 
            }
        }
    }

    &__topbody{
        padding: 100px 20px;
        background-color: #000;
        &--copy {
            text-align: center;
            max-width: 550px;
            width: 100%;
            margin: 50px auto;
            color: #fff;

            h2{
                 color: #fff;
            }
            @media screen and (max-width: $screen-sm-max){
                 position:static;
                 margin: 0 auto 40px;
            }
        }
        &--img{

        }
        @media screen and (max-width: $screen-sm-max){
              padding: 70px 0px;
        }
    }

    .quote{
    //background-color: #000;
        padding:150px 20px;
        text-align: center;
     &__wrapper{
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
            &--text{
                h4{
                    color: #000;
                }
                h6 {
                    color: #000;
                }

            }
        }
        @media screen and (max-width: $screen-sm-max){
              padding: 70px 0px;
        }
     }

    &__team {
        padding: 100px 20px;
        text-align: center;
        margin-bottom: 50px;
        &--title{
            margin-bottom: 100px;
        }

        &--wrap{
            text-align: center;
           background: #000;
            color: #fff;
            padding: 0px;
            transition: 450ms ease-in-out;
            margin-bottom: 30px;

            a{
                text-decoration: none;
                .team-image {
                    width: 100%;
                    //max-width: 300px;
                }
                .team-copy{
                    padding:10px 0px;
                }
                p{
                    color: #fff;
                    margin:0px;
                }
            }
            &:hover{
                 background: #fff;
                 color: #000;
                  p{
                    color: #000;
                    }
                    h4{
                        color: #000;
                    }
                 .team-copy{
                     border-bottom: 1px solid;
                     border-right: 1px solid;
                     border-left: 1px solid;
                      padding:9px 0px;
                }
            }
        }
        @media screen and (max-width: $screen-sm-max){
              padding: 70px 0px;
             &--title{
                margin-bottom: 50px;
            }

        }
    }
}


