.aftermarket{
    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    .aftermarket-copy {
        //padding: 50px 0px 20px;
        padding: 100px 0px 20px;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
         @media screen and (max-width: $screen-sm-max){
              padding: 50px 0px 0px;
        }
    }

    .aftermarket-cards {
        padding: 50px 0px 20px;
        .card {
            border: none !important;
        }
        padding: 50px 0px 20px;
        .row {
            padding-bottom: 30px;
        }
        .img-wrapper {
            position: relative;
        }
        .card {
            border: 1px solid rgba(0, 0, 0, 0.125);
            .card-body {
                flex: 1 1 auto;
                padding-top: 1.25rem;
                 padding-bottom: 70px;
                 text-align: center !important;
                .card-text {
                    margin: 0;
                }
                .btn{
                     @media screen and (max-width: $screen-xs-max){
                          margin-bottom: 10px;
                    }
                }
            }
        }
        .modal-content {
            //background-color: #fff !important;
            .modal-header{
                    .close{
                        border: 0;
                        background: transparent;
                        padding: 0;
                        span{
                            font-size: 40px;
                            color: #fff;
                        }
                    }
                }
            .modal-body{
                padding:50px 50px;
                background-color: #fff !important;
                //text-align:center;

            }
        }
    }
}
