.stocklist {
    &__introduction {
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 100px 20px 0px;
         @media screen and (max-width: $screen-md-max){
         padding: 50px 0px 0px;
        }
    }
    &__listings {
        padding: 80px 20px 80px;
        @media screen and (max-width: $screen-md-max){
         padding: 0px 0px 0px;
        }

        &--filter {
            color: black;
            //background: #eee;
            //padding: 15px 0px;

            background: #eee;
    padding: 20px 15px;
            .stocklist-title{
                //margin-left: 10px;
                h2{
                    font-weight: 800;
                }
            }
            .berocket_single_filter_widget{
                .bapf_sfilter {
                    .bapf_head{
                        h3{
                            font-size:20px !important;
                            margin-bottom: 10px;
                            font-weight: 800;
                        }
                    }
                    .bapf_body{
                        ul{
                            padding:0px;
                            li{
                                label{
                                    margin:0px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &--stock {
            ul {
                li {
                   //box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05);
                   box-shadow:2px 3px 7px 0px rgba(0,0,0,.05);
                  // border:1px solid $bodyblack;
                    border: 2px solid #eee;
                    padding: 13px !important;

                    text-align: center;
                    @media screen and (max-width: 768px) {
                        width: 100% !important;
                        float: none;
                    }
                    .onsale {
                        background: #000;
                        min-width: 4.236em !important;

                    }
                    img {
                        margin: 0 0 0.5em !important;
                    }
                    .stock-condition {
                        padding: 0 0 10px;
                    }

                    .specs-wrapper {
                        .row {
                            padding: 10px;
                            .col {
                                padding: 0;
                                p {
                                    font-size: 12px;
                                    span {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                    .price-wrapper {
                        margin: 0 5px 0 0;

                        .col-6 {
                            margin: auto;
                            .btn {
                                background-color:#000;
                            padding: 10px 18px;
                            color: #fff;
                            text-decoration:none;
                            transition: 450ms ease-in-out;
                            border-radius: 0;
                            font-size: 12px;
                    &:hover{
                        background-color:#fff;
                        border:1px solid #000;
                        color: #000;
                    }
                            }
                        }
                    }
                    .stratton-finance-wrapper {
                        padding:5px;
                        margin: 10px 0 0;
                        background-color: #330072;
                        color: #fff;
                        .row {
                            padding: 5px;
                            .col-4 {
                                margin: auto;
                            }
                            .col-8 {
                                margin: auto;
                                border-left: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .orderby{
        padding: 8px;
        border-radius: 0px;
        border: 1px solid #000;
    }

}
.in-stock {
    display: none;
}

#sidebar {
    display: none;
}
.wpgs{
    .slick-slider{

    }
   .flaticon-right-arrow {
        right: 16px !important;
        &::before{
            content: "\f054";
            font: normal normal normal 25px/1 FontAwesome;
        }
    }
    .flaticon-back{
        left: 16px !important;
        &::before{
            content: "\f053";
            font: normal normal normal 25px/1 FontAwesome;
        }
    }

    .wpgs-for .slick-arrow {
        margin-top: 0px;
        top: 40%;
        
    }
    .wpgs-for .slick-arrow{
        color: #fff;
    }

    .wpgs-nav{
        .slick-next {
           right: 5px;
        }
        .slick-prev {
           left: 5px;
        }
    }
}


.woocommerce-checkout,.woocommerce-cart{
        .woocommerce{
            padding: 250px 0px 200px !important;
        }
    }

.wc-deposits-wrapper .wc-deposits-option li label {
   margin:0px !important;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    //color: $bodyblack !important;
     //font-weight:bold !important;
     font-family:$avenirbold !important;
     font-size:20px !important;
}
.wc-deposits-wrapper .wc-deposits-payment-description {
   // color: $bodyblack !important;
    margin: 1em 0;
}
.wc-deposits-wrapper .wc-deposits-option li {
    border-radius: 0 !important;
}

.woocommerce{
    font-family:$avenir !important;
    //padding: 250px 0px 200px;


    .woocommerce-breadcrumb{
        display: none !important;
    }
    .woocommerce div.product p.price{
    color: $bodyblack;
    font-family:inherit !important;
    }
    .woocommerce button.button.alt{
        background-color: $bodyblack;
        border-radius: 0;
        &:hover{
            background-color:#fff;
            border:1px solid #000;
            color: #000;
        }
    }

    
    .woocommerce-message {
        border-top-color: #000 !important;
        &::before{
            color: $bodyblack !important;
        }
    }
    .button{
        color: $white !important;
        background:$bodyblack !important;
        border:1px solid $bodyblack !important;
        transition: all 350ms;
        -webkit-transition: all 350ms;
        border-radius: 0px !important;
        &:hover{
           color: $bodyblack!important;
            background:$white!important;
            border:1px solid $bodyblack !important;
            //padding:0px;
            margin: 0px;
        }
    }
    .select2-container{
        z-index: 1 !important;
    }
    .coupon{
        #coupon_code{
            max-width:160px!important;
            width: 100% !important;
        }
    }
    .woocommerce a.button{
        color: $white !important;
        background:$bodyblack !important;
    }
    .woocommerce-additional-fields{
        margin-bottom: 30px;
        h3{
            margin-top: 30px;
        }
    }

    .woocommerce table.shop_table {
        border: 1px solid rgba(0,0,0,.1);
        margin: 0 -1px 24px 0;
        text-align: left;
        width: 100%;
        border-collapse: separate;
       border-radius: 0px !important;
    }
    .form-row{
        display: block !important;
        padding:0px !important;
        textarea{
            height: 8em !important;
            padding: 5px;
        }
    }
    .col-12{
        padding:0px !important;
    }
}
.single-product{
    .woocommerce-breadcrumb, .onsale{
        display: none;
    }
    .site-main{
        padding:100px 15px;
    }
    .flex-viewport{
        margin-bottom:15px;
    }

}

.section-my-account{
    .woocommerce{
        padding:150px 20px;
        #customer_login{
            input[type="text"]{
                height: 40px;
                margin-bottom: 10px;
                border-radius:4px;
                border:1px solid #d3ced2;
                padding:10px;
            }
            input[type="password"]{
                height: 40px;
                margin-bottom: 10px;
                border-radius:4px;
                border:1px solid #d3ced2;
                padding:10px;
            }
            input[type="email"]{
                height: 40px;
                margin-bottom: 10px;
                border-radius:4px;
                border:1px solid #d3ced2;
                padding:10px;
            }
        }
        @media screen and (max-width: $screen-md-max){
                padding:70px 20px;
        }
        @media screen and (max-width: $screen-sm-max){
                padding:50px 20px;
        }
    }
}

.bapf_button {
    //transition: border 300ms ease, background 300ms ease, color 300ms ease;

    display: inline-block !important;
    color: #fff !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    padding: 10px 20px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem !important;
    font-family: $avenirbold !important;
   
    border: 1px solid #000 !important;
    border-radius: 0 !important;
    background-color: #000 !important;
    //letter-spacing: 1px;
    transition: 450ms ease-in-out !important;
    text-transform: uppercase !important;
    &:hover{
            background-color: #fff !important;
            //border: 1px solid #000;
            color:#000 !important;
             //padding: 9px 14px;
    }
    &:focus{
        //border:0px;
        box-shadow:none !important;
    }
}

.woocommerce .woocommerce-result-count {
    font-weight: 800 !important;
}

.searchandfilter{
    ul{
        padding:0px;
        li{
            h4{
                //display: none;
                color: #000 !important;
            }

           
            input[type='submit']{
                width: 100%;
                max-width: 100%;
                padding: 10px 10px 8px;
                background: #000;
                border: 1px solid;
                color: #fff;
                font-weight: 800;
                transition: 450ms ease-in-out !important;
                &:hover{
                    background: #fff;
                    color: #000;
                }
            }
        }
        .sf-field-taxonomy-model, .sf-field-taxonomy-make, .sf-field-taxonomy-body, .sf-field-post-meta-condition, .sf-field-post-meta-berth{
             label{
                max-width: 100% !important;
                width: 100% !important;
            }
        }
    }

    .sf-input-select{
        max-width: 100% !important;
        width: 100% !important;
    }
}
.sf-field-taxonomy-make{
    ul{
        padding:0px;
    }
}
.meta-slider{
    padding-right:10px;
    max-width: 100% !important;
}

.searchandfilter .noUi-connect {
    background-color: #000 !important;
}
.sf-field-reset{
    width: 100%;
    text-align:center;
    .search-filter-reset{
        //display: none !important;
        margin: 0 auto;
        width: 100%;
        max-width:100%;
        display:block;
        padding: 10px 10px 7px;
        background: #000;
        border: 1px solid;
        color: #fff;
        font-weight: 800;
        text-decoration: none;
        transition: 450ms ease-in-out !important;
        &:hover{
            background: #fff;
            color: #000;
        }
    }
}

/* class applies to select element itself, not a wrapper element */
.orderby, .sf-input-select{
display: block;
font-size: 16px;
font-family: sans-serif;
//font-weight: 700;
font-family:$avenir !important;
color: #444;
line-height: 1.3;
padding: .6em 1.4em .5em .8em;
width: 100%;
max-width: 100%; /* useful when width is set to anything other than 100% */
box-sizing: border-box;
margin: 0;
border: 1px solid #000;
//box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
//border-radius: .5em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

*/
background-image: url('../../images/down-arrow.png');
background-repeat: no-repeat, repeat;
/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
background-position: right .7em top 50%, 0 0;
/* icon size, then gradient */
background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.orderby, .sf-input-select::-ms-expand {
display: none;
}
/* Hover style */
.orderby, .sf-input-select:hover {
border-color: #888;
}
/* Focus style */
.orderby, .sf-input-select:focus {
border-color: #aaa;
/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: #222; 
outline: none;
}

/* Set options to normal weight */
.orderby, .sf-input-select option {
font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .sf-input-select, :root:lang(ar) .sf-input-select, :root:lang(iw) .sf-input-select {
background-position: left .7em top 50%, 0 0;
padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.sf-input-select:disabled, .sf-input-select[aria-disabled=true] {
color: graytext;
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.sf-input-select:disabled:hover, .sf-input-select[aria-disabled=true] {
border-color: #aaa;
}




/*.select2{
    .select2-selection{
        &--single{
            border-radius:0px !important;
        }
    &__arrow{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        }
    }
}*/


.btn-reset{
    width: 100%;
    text-align:center;
    margin: 0 auto;
    width: 100%;
    max-width:100%;
    display:block;
    padding: 10px 10px 7px;
    background: #000;
    border: 1px solid;
    color: #fff;
    text-decoration: none;
    transition: 450ms ease-in-out !important;
    &:hover{
        background: #fff;
        color: #000;
        text-decoration: none;
    }
}