.brands{
    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    .brands-copy {
        //padding: 50px 0px 20px;
        padding: 100px 0px 20px;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
         @media screen and (max-width: $screen-sm-max){
              padding: 50px 0px 0px;
        }
    }

    .brands-cards {
        padding: 50px 0px 20px;
        .card {
            border: none !important;
        }
        padding: 50px 0px 20px;
        .row {
            padding-bottom: 30px;
        }
        .img-wrapper {
            position: relative;
        }
        .date {
            font-weight: $font-weight-bold;
            color: #ffffff;
            position: absolute;
            top: 5%;
            left: 10%;
            transform: translate(-50%, -50%);
        }
        .card {
            border: 1px solid rgba(0, 0, 0, 0.125);
            .card-body {
                flex: 1 1 auto;
                padding-top: 1.25rem;
                 padding-bottom: 30px;
                 text-align: left !important;
                .card-text {
                    margin: 0;
                }
            }
        }
    }
}
