.brands-single{
    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    .brands-single-copy {
    padding: 80px 0px 20px;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 80px 0px 20px;
}

.exterior-content {
    padding: 80px 0px 20px;
}

.interior-content{
    padding: 80px 0px 20px;
}

.brochure-content{
    padding: 80px 0px 20px;
}

.brands-contact {
    padding-bottom: 50px;
    .contact-form {
        margin: 0 auto;
        width: 45rem;
        input,
        textarea {
            background-color: #eaeaea;
            border: 1px solid transparent;
        }
        .custom-select {
            background-color: #eaeaea !important;
            border: 1px solid transparent !important;
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        background-color: #fff;
        padding: 53px 60px;
        background: #fff;
        border-radius: 5px;
        height: 100%;
        .contact-copy {
            text-align: center;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }
}
}