#tab-description h2 {
    text-align: center;
}

.woocommerce {
    .product {
        .product_title {
            text-align: center;
        }
        .price {
            color: #000 !important;
            text-align: center;
            font-size: 30px !important;
        }
        .wc-deposits-wrapper {
            .wc-deposits-option {
                li {
                    display: inline-block;
                    color: #fff;
                    vertical-align: middle;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    padding: 10px 20px;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: .25rem;
                    font-family: $avenirbold;
                    border: 1px solid #000;
                    border-radius: 0;
                    background-color: #000;
                    //letter-spacing: 1px;
                    transition: 450ms ease-in-out;
                    text-transform: uppercase;
                }
            }
            .wc-deposits-payment-description {
                color: #000 !important;
            }
        }
        .product_meta {
            .posted_in {
                display: none;
            }
        }
        td:nth-child(even) {
            font-family: $avenirbold;
        }
    }
}

.woocommerce-Tabs-panel{
    .text-center{
        h2{
            margin: 20px 0px 50px;
        }
    }
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0 0 50px;
    text-align: center;
    padding-top:50px;
}

.woocommerce-tabs{
    background: #eee;
    padding: 30px;
    margin-bottom: 50px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid #fff;
    background-color: #000;
    .active {
        border: 1px solid #000 !important;
        pointer-events: none !important;

    }
    a {
        color: #fff;
    }
    a:hover {
        color: #fff;
    }
}
.woocommerce div.product div.summary {
    margin-bottom: 2em;
    background-color:#eee;
    padding:30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: 1px solid #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: 1px solid #000;
    pointer-events: none;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    font-size: 30px!important;
}