.contact {
    //padding-bottom: 50px;
    .contact-wrapper {
        &__form {
            padding: 150px 15px;
            @media screen and (max-width: $screen-md-max) {
                padding: 100px 15px;
            }
            @media screen and (max-width: $screen-sm-max) {
                padding: 50px 15px;
            }
            .form-top-up {
                //margin-top: -290px;
                @media screen and (max-width: $screen-md-max) {
                    padding-bottom: 30px;
                }
            }
            .onthetop {
                //margin-top: -291px;
                .info-cards_wrapper {
                    background-color: #fff;
                    .card {
                        -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                        -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Firefox 3.5 - 3.6 */
                        box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
                        .card-body {
                            padding: 40px;
                            background: #fff;
                            // max-width: 376px;
                            width: 100%;
                            border-bottom-right-radius: 5px;
                            border-bottom-left-radius: 5px;
                            display: table;
                            margin-left: auto;
                            position: relative;
                            @media screen and (max-width: $screen-md-max) {
                                max-width: 100%;
                            }
                        }

                        .address_wrapper,
                        .opening-hours_wrapper,
                        .contact-details_wrapper {
                            padding: 10px 0px 20px;
                        }
                    }
                    .opening-hours_wrapper {
                        tbody {
                            font-family: AvenirLight;
                        }
                    }
                    .card-footer {
                        font-size: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 5rem;
                        // background: linear-gradient(to right, #ff3019 0%, #c90477 100%);
                        background: #000;
                        a {
                            color: #fff !important;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                }
            }

            .listradio-wrap .nf-field-element label.nf-checked-label:before {
                left: 0 !important;
            }

            .nf-form-cont {
                .listradio-container {
                    .nf-field-element {
                        li > [type="radio"] + label:before {
                            margin: -5px 0px 0px -31px;
                        }
                        li {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        .card-footer {
            font-size: 15px !important;
        }
    }

    @media screen and (max-width: 767px) {
        .form-top-up {
            //margin-top: -65px;
        }
        .onthetop {
            margin-top: 15px;
        }
        .card-body {
            margin-left: unset;
        }
        .contact-form {
            padding: 30px 25px !important;
        }
    }
}

.nf-fu-fileinput-button,
.nf-fu-button-cancel {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;

    &:hover {
        background-color: #fff !important;
        color: #000 !important;
        border: 1px solid #000;
    }
}

@media (min-width: 992px) {
    .nf-field-description {
        margin-bottom: 100px;
    }
}

@media (max-width: 800px) {
    .nf-field-description {
        margin-bottom: 75px !important;
    }
}

@media (max-width: 576px) {
    .nf-field-description {
        margin-bottom: 120px !important;
    }
}
