.faq-copy {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 80px 0px 20px;
}

.faq-navigation {
    padding: 80px 0px 20px;
    font-weight: $font-weight-bold;
    .container {
        width: 50%;
        text-align: center;
    }
}

.faq-cards {
    padding: 80px 0px 20px;
    .img-wrapper {
        position: relative;
    }
    .date {
        font-weight: $font-weight-bold;
        color: #ffffff;
        position: absolute;
        top: 5%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .card {
        border: 1px solid rgba(0, 0, 0, 0.125);
        .card-body {
            flex: 1 1 auto;
            padding: 1.25rem;
            .card-text {
                margin: 0;
            }
        }
        .faq-overlay_wrapper:after {
            content: "\A";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            opacity: 0.6;
        }
    }
}

.faq-responsive {
    @media (max-width: 767px) {
        .faq-copy, .faq-navigation, .faq-cards  {
            padding: 40px 0px 10px !important;
        }
    }
}
