.finance{
	font-family: $avenirmedium;
	.top-header{
	    background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
	}
	&__calculator{
		padding: 80px 20px;
		text-align: center;

		.top{
			padding-bottom: 50px;
			max-width: 1015px;
			width: 100%;
			margin: 0 auto;
		}
		.title{
			margin-bottom: 50px;
		}

		&--loan{
			//margin-bottom: 100px;
			text-align: left;
			width: 100%;
			max-width: 1000px;
			text-align: left;
			margin: 0 auto 50px;
			form{
				table{
					width: 100%;
					max-width: 1000px;
					text-align: left;
					margin: 0 auto;
					td{
						input{
							width: 100%;
							margin-bottom:5px;
							height: 42px;
							border-radius:4px;
							border:1px solid #d3ced2;
							 padding:10px;
						}
						select{
							width: 100%;
							height: 42px;
							padding: 8px;
							border-radius:4px;
							border:1px solid #d3ced2;
							 padding:10px;
							margin-bottom: 10px;
						}
						input[type="button"]{
							width: 100%;
							height: 42px;
							background-color: #000;
							 color:#fff;
							 transition: 450ms ease-in-out;
							font-weight:800;
							&:hover{
						            background-color: #fff;
						            //border: 1px solid #000;
						            color:#000;
						    }
						}
					}
				}
			}
		}
		&--finance{
			text-align: left;
			width: 100%;
			max-width: 1000px;
			text-align: left;
			margin: 0 auto;
			form{
				table{
					width: 100%;
					max-width: 1000px;
					text-align: left;
					margin: 0 auto;
					td{
						font-family: $avenirmedium;
						input{
							width: 100%;
							margin-bottom:5px;
							height: 42px;
							border-radius:4px;
							border:1px solid #d3ced2;
							 padding:10px;
						}
						select{
							width: 100%;
							height: 42px;
							padding: 8px;
							
							margin-bottom: 10px;
							border-radius:4px;
							border:1px solid #d3ced2;
							 padding:10px;
						}
						input[type="button"]{
							width: 100%;
							height: 42px;
							font-weight:800;
							background-color: #000;
							 color:#fff;
							 transition: 450ms ease-in-out;
							&:hover{
					            background-color: #fff;
					            //border: 1px solid #000;
					            color:#000;
						    }
						}
						input[type="radio"]{
							width: 5%;
							height: auto;
						}
						input[type="checkbox"]{
							width: 2%;
							height: auto;
						}
						input[type="submit"]{
							margin-top: 20px;
							background-color: #000;
							 color:#fff;
							 transition: 450ms ease-in-out;
							&:hover{
					            background-color: #fff;
					            //border: 1px solid #000;
					            color:#000;
						    }
							font-weight: 800;
						}

						
					}
				}
			}
		}
	}
	.wpfcs-container{
		width: 100%;
		max-width: 1000px;
		text-align: left;
		margin: 0 auto;
	}
	form{
		input{
			width: 100%;
			margin-bottom:5px;
			height: 42px;
			border:1px solid #d3ced2;
			border-radius:4px;
			padding:10px;
		}
		textarea{
			width: 100%;
			//height: 42px;
			border:1px solid #d3ced2;
			border-radius:4px;
			padding:10px;
		}

		select{
			width: 100%;
			height: 42px;
			padding: 8px;
			border-radius:4px;
			border:1px solid #d3ced2;
			 padding:10px;
			margin-bottom: 10px;
		}
		input[type="submit"]{
			margin-top: 20px;
			background-color: #000;
			 color:#fff;
			 transition: 450ms ease-in-out;
			&:hover{
	            background-color: #fff;
	            //border: 1px solid #000;
	            color:#000;
		    }
			font-weight: 800;
		}
	}
}