
.customer{
    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    .customer-copy {
        //padding: 50px 0px 20px;
        padding: 100px 0px 50px;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
         @media screen and (max-width: $screen-sm-max){
              padding: 50px 0px 0px;
        }
    }

    .customer-wall {

        &__wrap{
        //margin: 10px 50px;
            column-count: 4;

        a{
                img{
                transition:all 550ms ease;
                //padding:15px;
                //width: 350px;
                        width: 100%;
                cursor: pointer;
                //height: 250px;
                        height: auto;
                        margin-bottom: 1em;
                &:hover{
                filter: grayscale(100%);
                transform: scale(1.1);
                }
        }

        }
        @media screen and (max-width: 800px){
        column-count: 2;
        }
        @media screen and (max-width: 500px){
        column-count: 1;
        }
    }



        padding-bottom:100px;
        .img-wrapper {
            margin-bottom: 25px;
        }
        @media screen and (max-width: $screen-sm-max){
              padding: 50px 0px 0px;
        }
    }
}

