.helptips{
    .top-header{
        // background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    padding: 0px 0px 150px;
    &__introduction{
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 80px 0px 20px;
    }
    &__navigation{
       padding: 20px 0px 0px;
        font-weight: $font-weight-bold;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        background:#eee;
        margin-bottom: 50px;
        h3{
            margin-bottom: 20px;
        }
        .pad-b{
            margin-bottom: 20px;
        }
    }
    &__content{
        &--wrap{
           // position: relative;
           //background:url('../../images/video.jpg') no-repeat center/cover;
            //height: 250px;
            //height: 180px;
            margin-bottom: 30px;
            border: 1px solid #eee;
            text-align: center;
            .top-image{
                 position:relative;
                 .overlay-bg{
                    position:absolute;
                    width: 100%;
                    height:100%;
                    background-color: rgba(0, 0, 0, 0.5);
                 }
                .published-date{
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    color: #fff;
                    font-weight: bold;
                }
                .help-img{
                    width: 100%;
                }


            }
            .infor-section{
                padding: 30px 20px 30px 20px;
                h5{
                    margin-bottom:10px;
                }
                p{
                     margin-bottom:20px;
                }
                a{
                    background-color:#000;
                    padding: 10px 20px;
                    color: #fff;
                    text-decoration:none;
                    transition: all 0.9s;
                    -webkit-transition: all 0.9s;
                    &:hover{
                        background-color:#fff;
                        border:1px solid #000;
                        color: #000;
                    }
                }
            }
        }
    }
}

.help-info{
    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    &__wrap{
         padding: 100px 20px;
         @media screen and (max-width: $screen-sm-max){
                  padding: 50px 20px;
            }
        .help-info-content{
            .help-img{
                width: 100%;
                margin-bottom: 30px;
            }
            .title{
                margin-bottom: 30px
            }
            .body-copy{
               
                @media screen and (max-width: $screen-sm-max){
                      margin-bottom: 50px;
                }
                .oembed{
                    margin-bottom: 30px;
                    width: 100% !important;
                    
                }
                iframe{
                        width: 100% !important;
                        height: 500px;
                        @media screen and (max-width: $screen-sm-max){
                              height: 300px;
                        }
                        @media screen and (max-width: $screen-xs-max){
                              height: 230px;
                        }
                    }
            }
        }
    }
}