.landing{
    height: 100vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    overflow:hidden;
    @media screen and (max-width: $screen-sm-max){
        height: 580px;
         background-image:url('../../images/mobile-bg.png');
         background-size:cover;
         background-repeat:no-repeat;
         background-position:center;
    }
    #videoBG{
        position:absolute;
        z-index: -1;
        //width: 100%;
       // height: auto;

        @media screen and(min-aspect-ratio:16/9){
            width: 100%;
            height: auto;
        }
        @media screen and(max-aspect-ratio:16/9){
            width: auto;
            height: 100%;
        }
         @media screen and (max-width: $screen-sm-max){
             display: none;
        }
    }
    .form-wrapper{
        position: absolute;
        max-width: 1020px;
        ///max-width: 1250px;
        margin: auto;
        width: 100%;
        top: 50%;
        padding: 20px 20px;
        background-color: rgba(0,0,0,.5);
        border-radius: 4px;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        border: 1px solid #4a4a4a;
        backdrop-filter: blur(0.5px);
        pointer-events:all;
        .form-copy{
            color: #fff;
            h2{
                color: #fff;
                font-weight: 800;
                font-size: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .search-form{
                margin-bottom: 5px;
                .searchandfilter{

                    ul{
                        padding:0px;
                        li{
                            display: inline-block;
                            padding: 0 10px;
                            select{
                                display: block;
                                font-size: 16px;
                                font-weight: 400;
                                color: #000;
                                line-height: 1.3;
                                padding: .6em 1.9em 0.5em .8em;
                                width: 100%;
                                max-width: 100%;
                                margin: 0;
                                border: 0;
                                box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                                -moz-appearance: none;
                                -webkit-appearance: none;
                                border-radius: 3px;
                                appearance: none;
                                background-color: #fff;
                                background-image:url('../../images/down-arrow.png');
                                background-repeat: no-repeat, repeat;
                                background-position: right .7em top 50%, 0 0;
                                background-size: .65em auto, 100%;
                                width: 180px !important;
                                //margin-bottom: 10px;

                                @media screen and(max-width: $screen-lg-max){
                                    margin-bottom: 10px;
                                }
                            }
                            input{

                                display: block;
                                font-size: 16px;
                                font-weight: 400;
                                color: #000;
                                line-height: 1.3;
                                padding: .6em 1.9em 0.5em .8em;
                                width: 100%;
                                max-width: 100%;
                                margin: 0;
                                border: 0;
                                box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                                -moz-appearance: none;
                                -webkit-appearance: none;
                                appearance: none;
                                background-color: #fff;
                                border-radius: 3px;

                                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                  color: black;
                                  opacity: 1;
                                }
                                &::-moz-placeholder { /* Firefox 19+ */
                                  color: black;
                                   opacity: 1;
                                }
                                &:-ms-input-placeholder { /* IE 10+ */
                                  color: black;
                                   opacity: 1;
                                }
                                &:-moz-placeholder { /* Firefox 18- */
                                  color: black;
                                   opacity: 1;
                                }
                                @media screen and(max-width: $screen-sm-max){
                                    margin-bottom: 10px;
                                    width: 150px !important;
                                }
                            }
                            input[type="submit"]{
                                 padding: .6em .9em 0.5em .8em;
                                 font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: $screen-xs-max){
                    display: none;
        }
    }

    .overlay-black{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        z-index: 1;
        position:absolute;
        left: 0;
        top: 0;
    }

    .arrow-down{
        position:absolute;
        bottom:50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
       a{
            .fas{
                color: #fff;
                font-size: 30px;
            }
            color: #fff;
            text-decoration: none;
       }
    }
}
.aboutadelaide-rv {
    text-align: center;
    padding: 100px 20px 50px;
    &__copy{
        max-width: 800px;
        width: 100%;
        margin:0 auto;
        .main-title{
            margin-bottom: 50px;
         }
    }
    @media screen and (max-width: $screen-md-max){
         padding: 70px 15px 70px;
    }
    @media screen and (max-width: $screen-sm-max){
          padding: 50px 0px;
    }
}

.statadelaide-rv{
    text-align:center;
    padding:0px 0px 100px;
    .main-title{
        margin-bottom: 35px;
        h2{

        }
    }
    &__body{
        display: flex;
        flex-wrap: wrap;
        &--one{
            width: 230px;
            height: 230px;
            background: #eee;
            border-radius: 230px;
            //padding: 100px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            border: 1px solid;
            margin-bottom: 20px;
            .content{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                padding: 30px;
                &__image{
                    margin-bottom: 15px;
                    .fas{
                       font-size:40px;
                   }
                }
                &__number{
                    margin-bottom: 5px;
                    h5{
                        font-weight: 800;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.testimonials{
    padding: 100px 20px 100px;
    text-align: center;
    @media screen and (max-width: $screen-md-max){
         padding: 70px 15px 70px;
    }
    @media screen and (max-width: $screen-sm-max){
          padding: 50px 0px;
    }
}
.map{
    &__wrapper{
        overflow: hidden;
        width: 100%;
        height: 100%;
        iframe{
            border:none !important;
            margin-top: -55px;
            width: 100%;
            height: 750px;
            pointer-events:none;
            position:relative;
            display: block;
            @media screen and (max-width: $screen-md-max){
                     height: 550px;
            }
            @media screen and (max-width: $screen-sm-max){
                  height: 450px;
            }
        }
    }
}

.gallery-slider{
    text-align: justify;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
   background-color:#000;
     padding: 100px 20px 100px;
     .main-title{
        margin-bottom: 50px;
        text-align: center;
        h1{
            color: #fff;
        }
     }

    &__wrapper--top{
        margin-bottom: 50px;

        .slider-wrap{
            margin-bottom: 50px;
            .top-image{
                img{
                    max-height: 400px;
                    height: 100%;
                    width: 100%;
                }
            }
            .copy-wrap{
                text-align: center;
                max-width: 500px;
                width: 100%;
                padding-top: 50px;
                margin: 0 auto;
                h2{
                    color: #fff;
                }
                p{
                    color: #fff;
                }
                @media screen and (max-width: $screen-md-max){
                     max-width: 100%;
                }
            }
        }
    }
    &__wrapper--bottom{

        .slider-wrap{
            &--image{
                max-width: 300px;
                width: 100%;
                height: auto;
                cursor: pointer;
                position:relative;
                .image-title{
                   /* position: absolute;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    opacity: 1;
                    transition: 450ms ease-in-out;*/
                    text-align: center;
                    margin-bottom: 15px;

                    h4{
                        //color: $bodyblack !important;
                        font-weight: 800;
                        margin: 0px !important;
                        font-size:20px;

                    }

                }
                .overlay-black{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0,0,0,0.5);
                        opacity: 0;
                        transition: 450ms ease-in-out;
                    }
                &:hover{
                    .image-title{
                        //opacity: 1;
                    }
                    .overlay-black{
                        opacity: 1;
                    }

                }
                img{
                    max-width: 300px;
                   width: 100%;
                    //height: 200px;
                    height: auto;
                }
                @media screen and(max-width:1300px){
                    padding:15px;
                }
            }
        }
    }
    @media screen and (max-width: $screen-md-max){
         padding: 70px 15px 70px;
    }
    @media screen and (max-width: $screen-sm-max){
          padding: 50px 0px;
    }
}