.modal{
    //top: 10% !important;
    .modal-dialog{
        max-width: 850px !important;
        .modal-content{
            background-color: transparent !important;
            border: none !important;
            border-radius: 0px !important;
        }
    }
}