.review-copy {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 80px 0px 20px;
    #nf-form-17-cont{
        margin: 50px;
        padding: 50px;
        -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Firefox 3.5 - 3.6 */
                box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.05); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
                .nf-field-label {
                    display: none;
                }
    }
}