.search{
	.top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    .search-wrap{
    	padding: 100px 20px;
    }
}

.posts{
	padding: 100px 20px;
}

@media screen and (max-width: $screen-md-max){
		.posts{
			padding: 70px 20px;
		}
 }

 @media screen and (max-width: $screen-sm-max){
		.posts{
			padding: 50px 20px;
		}
 }