/* Service & Warrenty SASS*/
.services{
	&__top{
		padding: 100px 0px;
		text-align: center;
		//max-width: 1400px;
		//margin: 0 auto;
		//width:100%;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
	}
	&__price{
		background: #eee;
		padding: 100px 0px;
		text-align: center;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
		&--title{
			margin-bottom: 40px;
		}
		&--body{
			.content-wrap{
				border: 2px solid;
				padding: 20px;
				
				@media screen and (max-width: $screen-sm-max) {
		           margin-bottom: 30px;
		        }
				&__image{
					margin-bottom: 30px;
					.price-icon{
						font-size: 100px;
					}
				}
				&__copy{
					h3{
						margin-bottom: 20px;
					}
					h4{
						color: #000;
						span{
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
	&__type{
		background: #000;
		padding: 100px 0px;
		color: #fff;
		text-align:center;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
		&--title{
			h1{
				color:#fff;
			}
		}
		&--body{
			p{
				margin-bottom: 25px;
			}
			ul{
				text-align:left;
				padding: 0;
				max-width: 950px;
				margin: 0 auto;
				width: 100%;

				li{
					list-style: none;
					margin-bottom: 5px;
					padding:0px;
					.fas{
						margin-right: 8px;
					}
				}
			}
		}
	}
	&__form {
		text-align:center;
		padding: 100px 0px;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
		&--title{

		}

		&--body{
			.nf-field-label {
		        display: none;
		    }
	        .custom-select {
	            background-color: #eaeaea !important;
	            border: 1px solid transparent !important;
	            display: block;
	            width: 100%;
	            height: calc(2.25rem + 2px);
	            padding: 0.375rem 0.75rem;
	            font-size: 18px;
	            font-weight: 400;
	            line-height: 1.5;
	            color: #000;
	            background-color: #fff;
	            background-clip: padding-box;
	            border: 1px solid #ced4da;
	            border-radius: 0.25rem;
	            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	        }
	        background-color: #fff;
	        padding: 50px 50px;
	        background: #fff;
	        border-radius: 5px;
	        @media screen and (max-width: $screen-md-max) {
	          padding: 0px;
	        }
	        .contact-copy {
	            // text-align: center;
	            display: -webkit-flex;
	            display: -ms-flexbox;
	            display: flex;
	            -webkit-flex-flow: column;
	            -ms-flex-flow: column;
	            flex-flow: column;
	            -webkit-justify-content: space-between;
	            -ms-flex-pack: justify;
	            justify-content: space-between;
	        }
	        .nf-form-content {
			    padding: 5px;
			    max-width: 800px;
			    margin: 0 auto;
			    width:100%;
			}
			.nf-form-cont .nf-field-container .field-wrap.nf-error input {
				border-radius:0px !important;
			    //border-color: #dc3545;
			}
	        .nf-field-element {
	            text-align: center;
	            ul {
	                text-align: left;
	            }
	            }
	        }
	        .nf-error.field-wrap .nf-field-element:after {
	            height: 36px !important;
	            line-height: 40px !important;
	        }
	        .nf-field-description {
	            color: #495057;
	            height: calc(2.25rem + 2px);
	            font-size: 18px;
	            line-height: 20px;
	            font-weight: 700;
	        }
	        .list-radio-wrap {
	            padding: 0.375rem 0.75rem;
	            border: 1px solid #ced4da;
	            border-radius: 0.25rem;
	    	}
		}
	&__faq{
		background: #000;
		padding: 100px 0px;
		color: #fff;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
		&--title{
			text-align:center;
			h1{
				color:#fff;
			}
			p{
				margin-bottom:50px;
			}
		}
		&--body{
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			background: #fff;
			padding:10px;
			p{
				color:#000;
				margin:0px;
			}
			.question{
				padding: 10px 20px 10px 20px;
				background: #eee;
				cursor:pointer;
				position:relative;
				.fas{
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translateY(-50%);
					color:#000;

				}
				p{
					font-weight:800;

				}
			}
			.answer{
				padding: 5px 20px;
			}
		}
	}
	&__location{
		background: #fff;
		padding: 100px 0px;
		color: #000;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
		&--title{
			text-align:center;
			h1{
				color:#000;
			}
			p{
				margin-bottom:50px;
			}
		}
		&--body{
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			background: #fff;
			padding:10px;
			p{
				color:#000;
				margin:0px;
			}
			.question{
				padding: 10px 20px 10px 20px;
				background: #eee;
				cursor:pointer;
				position:relative;
				.fas{
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translateY(-50%);
					color:#000;

				}
				p{
					font-weight:800;

				}
			}
			.answer{
				padding: 5px 20px;
			}
		}
	}
}

.warranty{
	&__top{
		padding: 100px 0px;
		text-align: center;
		//max-width: 1400px;
		//margin: 0 auto;
		//width:100%;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
	}
	&__form {
		text-align:center;
		padding: 100px 0px;
		background: #eee;
		@media screen and (max-width: $screen-md-max) {
           padding:50px 0px;
        }
		&--title{
			p{
				margin-bottom:50px;
			}

		}

		&--body{
			.nf-field-label {
		        display: none;
		    }
	        .custom-select {
	            background-color: #eaeaea !important;
	            border: 1px solid transparent !important;
	            display: block;
	            width: 100%;
	            height: calc(2.25rem + 2px);
	            padding: 0.375rem 0.75rem;
	            font-size: 18px;
	            font-weight: 400;
	            line-height: 1.5;
	            color: #000;
	            background-color: #fff;
	            background-clip: padding-box;
	            border: 1px solid #ced4da;
	            border-radius: 0 !important;
	            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	        }
	        background-color: #fff;
	        padding: 50px 50px;
	        background: #fff;
	        border-radius: 5px;
	        @media screen and (max-width: $screen-md-max) {
	          padding: 0px;
	        }
	        .contact-copy {
	            // text-align: center;
	            display: -webkit-flex;
	            display: -ms-flexbox;
	            display: flex;
	            -webkit-flex-flow: column;
	            -ms-flex-flow: column;
	            flex-flow: column;
	            -webkit-justify-content: space-between;
	            -ms-flex-pack: justify;
	            justify-content: space-between;
	        }
	        .nf-form-content {
			    padding: 5px;
			    max-width: 800px;
			    margin: 0 auto;
			    width:100%;
			}
			.nf-form-cont .nf-field-container .field-wrap.nf-error input {
				border-radius:0px !important;
			    //border-color: #dc3545;
			}
	        .nf-field-element {
	            text-align: center;
	            ul {
	                text-align: left;
	            }
	            }
	        }
	        .nf-error.field-wrap .nf-field-element:after {
	            height: 36px !important;
	            line-height: 40px !important;
	        }
	        .nf-field-description {
	            color: #495057;
	            height: calc(2.25rem + 2px);
	            font-size: 18px;
	            line-height: 20px;
	            font-weight: 700;
	        }
	        .list-radio-wrap {
	            padding: 0.375rem 0.75rem;
	            border: 1px solid #ced4da;
	            border-radius: 0.25rem;
	    	}
		}

}