.range {
    padding: 0px 0px 150px;
    @media screen and (max-width: $screen-md-max){
        padding: 0px 0px 100px;
    }
    @media screen and (max-width: $screen-sm-max){
        padding: 0px 0px 50px;
    }
    &__introduction {
        text-align: center;
        padding: 80px 0px 20px;
        h3 {
            margin-bottom: 15px;
        }
        @media screen and (max-width: $screen-md-max){
         padding: 50px 0px 15px;
        }
    }
    &__internal {
        padding: 80px 0px 80px;
        &--specifications{
            padding-top: 20px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: $screen-md-max){
         padding: 10px 0px 20px;
        }

        &--gallery{
            .slick-slider{
                .arrow-wrap{
                    .slick-prev-one{
                        position: absolute;
                        z-index: 1;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: rgba(0,0,0,0.3);
                        padding: 10px;
                        cursor: pointer;
                        .fas{
                            color: #fff;
                            font-size: 20px;
                        }

                    }
                    .slick-next-one{
                        position: absolute;
                        z-index: 1;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: rgba(0,0,0,0.3);
                        padding: 10px;
                        cursor: pointer;
                        .fas{
                            color: #fff;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    &__layout{
        text-align: left;
        //padding: 30px 0px;
        border-top: 1px solid #fff;
        &--title{
            background: #000;
           padding: 10px 12px;
           position: relative;
           cursor: pointer;
           .fas{
                color: #fff;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 20px;
            }
            h5{
               color: #fff;
               margin:0px; 
            }
        }
        &--content{
            border-bottom: 1px solid #eee;
            padding: 20px;
            .wrap{
                padding: 30px;
                text-align: left;
                .plan-title{
                    margin-bottom: 10px;
                }
                .plan-bodysize{
                    p{
                        margin-bottom: 5px;
                        span{
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
    .specifications{
        .range__layout--content{
            width: 100%;
            display: flex;
            text-align: left;
            padding: 10px;
            //border-bottom: 1px solid #eee;
            p{
                margin:0px;
            }
            .item{
                width: 50%;
                p{
                    font-weight: 800;
                }
            }
            .description{
                width: 50%;
            }
        }
    }


    &__external {
        padding: 80px 0px 20px;
        &--specifications{
            padding-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__url{
        &--wrap{
            background: #000;
            color: #fff;
            padding: 10px 12px;
            border-top: 1px solid #fff;
             a{
                color: #fff;
                text-decoration: none;
                h5{
                    color: #fff;
                    margin: 0;
                }
            }
        }
    }
    
    &__enquiry {
        text-align: center;
        padding: 30px 0px 20px;
     &--copy{
         text-align: center;
         h4{
            color: #000;
            margin-bottom: 10px;
         }
         h3{
             margin-bottom: 30px;
         }
     }
     .ninja-forms-req-symbol {
         display: none;
     }
     @media screen and (max-width: $screen-md-max){
         padding: 50px 0px 0px;
        }
    }
}
.single-range{
    .modal{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    .close{
                        border: 0;
                        background: transparent;
                        padding: 0;
                        span{
                            font-size: 40px;
                            color: #fff;
                        }
                    }
                }

                .modal-body{
                    background:#fff;
                    padding: 20px 40px;
                }
            }
        }
    }
}

