.thank-you{
	.top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat bottom/cover;
        height: 250px;
		width: 100%;
    }
    &__wrap{
    	padding:150px 20px;
    	text-align: center;
    	max-width: 850px;
    	width: 100%;
    	margin: 0 auto;
    	&--title{
    		margin-bottom: 50px;
    	}
    	&--video{
    		margin-bottom: 50px;
    	}
    	&--back-button{
    		margin-top: 100px;
    		a{
    			font-size: 25px;
    			font-weight: 800;
    		}
    	}
    }
}