.video-tutorials{
    .top-header{
        background:url('../../images/lifestyle_01.jpg') no-repeat center/cover;
    }
    &__introduction{
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 80px 0px 50px;
    }
    &__navigation{
        padding: 20px 0px 0px;
        font-weight: $font-weight-bold;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        background:#eee;
        .pad-b{
            margin-bottom: 20px;
        }
    }

    &__video{
        padding: 50px 0px 150px;
        &--list{
            .list-wrapper{
                position: relative;
                // background:url('../../images/video.jpg') no-repeat center/cover;
                //height: 250px;
                height: 180px;
                margin-bottom: 30px;
                .videos-logo {
                    width: 6em;
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .videos-title {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        border-top: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                    }
                .videos-overlay {
                    content:'';
                    position:absolute;
                    width:100%;
                    height:100%;
                    top:0;
                    left:0;
                    background:rgba(0,0,0,0.5);
                    //opacity:0;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    //opacity: .8;
                }
                img{
                    max-width: 450px;
                    width: 100%;
                    height: 180px;
                }
                &:hover{
                    .videos-overlay {
                        background:rgba(0,0,0,0.1);
                    }
                }
            }
        }
    }
}

