.cp_cff_minimalist #fbuilder {
	font-family: $avenirmedium !important;
	.fields, #fbuilder .fform {
		padding: 15px 0px !important;
	}
	.fform {
		background: #000 !important;
		color: #fff !important;
		h2 {
			color: #fff !important;
		}
	}
}

.cp_cff_minimalist #fbuilder .section_breaks {
	border-left: 3px solid #000 !important	}
